@model BookingAppStore.Models.Purchase
@{
    ViewBag.Title = "Покупк книги";
}

<div>
    <h3>Форма покупки книги</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @*<input type="hidden" name="BookId" value="@ViewBag.BookId" />*@
        @*@Html.Hidden("BookId", ViewBag.BookId as string)*@
        @Html.HiddenFor(m=>m.BookId)
        <table>
            <tr>
                <td><p>@Html.LabelFor(m => m.Person, "Введите имя")</p></td>
                <td>@Html.TextBoxFor(m=>m.Person)</td>
            </tr>
            <tr>
                <td><p>@Html.Label("Address", "Введите адрес")</p></td>
                <td>@Html.TextBox("Address", "Введите адрес")</td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
        </table>
    }
</div>