
@{
    ViewBag.Title = "Покупк книги";
}

<div>
    <h3>Форма покупки книги</h3>
    @using (Html.BeginForm("Buy", "Home", FormMethod.Post))
    {
        @*<input type="hidden" name="BookId" value="@ViewBag.BookId" />*@
        @Html.Hidden("BookId", ViewBag.BookId as string)
        <table>
            <tr>
                <td><p>@Html.Label("Person", "Введите имя")</p></td>
                <td>@Html.TextBox("Person", "Введите имя")</td>
            </tr>
            <tr>
                <td><p>@Html.Label("Address", "Введите адрес")</p></td>
                <td>@Html.TextBox("Address", "Введите адрес")</td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /></td><td></td></tr>
        </table>
    }
</div>